/* CSS declarations go here */

body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: initial;
}
header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
}
/* INPUTS  */
input[type=text],input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
    box-sizing: border-box;
}

input[type=submit], button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover, button:hover {
    background-color: #45a049;
}
input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
}
input[type=text]:focus, input[type=number]:focus {
    outline:none;
}
input.disableInput {
    border: none;
    width: 200px;
}
#login-buttons {
    display: block;
    width: 250px;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}
.content {
    display: flex;
    padding: 50px;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
#newGameBlock, #gamesLaunched, #gamesStats, #lastGames {
    width: 350px;
    background-color: white;
    box-shadow: 2px 2px 8px black;
    padding: 20px;
    margin-bottom: 20px;
}
#gamesLaunched table, #lastGames table {
    width: 100%;
}
#gamesStats table {
    width: 100%;
    font-size: 24px;
    text-align: left;
}
#gamesStats td {
    font-size: 36px;
    text-align: right;
}
.gameContainer {
    height: 90vh;
    width: 90vh;
    max-height: 100vw;
    max-width: 100vw;
    flex-direction: column;
    display: flex;
    align-content: stretch;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 8px black;
}
.dotsRow {
    flex-grow: 1;
    align-content: center;
    justify-content: center;
    display: flex;
}
.dot {
    padding: 3px;
    display: inline-block;
    flex-grow: 1;
    cursor: pointer;
}

.dotsRow:nth-child(even) .dot:nth-child(even) {
    background-color: lightblue;
}
.dotsRow:nth-child(even) .dot:nth-child(odd) {
    background-color: cornflowerblue;
}
.dotsRow:nth-child(odd) .dot:nth-child(even) {
    background-color: cornflowerblue;
}
.dotsRow:nth-child(odd) .dot:nth-child(odd) {
    background-color: lightblue;
}
.dotsRow:nth-child(even) .dot:nth-child(even):hover {
    background-color: aliceblue;
}
.dotsRow:nth-child(even) .dot:nth-child(odd):hover {
    background-color: aliceblue;
}
.dotsRow:nth-child(odd) .dot:nth-child(even):hover {
    background-color: aliceblue;
}
.dotsRow:nth-child(odd) .dot:nth-child(odd):hover {
    background-color: aliceblue;
}
.dot div {
    position: relative;
    top: -500px;
    left: -100px;
}
.dot .black {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #050505;
    box-shadow: 2px 2px 4px #959595;
    transition: top 0.5s, left 1s ease;
}
.dot .white {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    box-shadow: 2px 2px 4px darkslategrey;
    transition: top 0.75s, left 1s ease;
}
.dotsRow:nth-child(even) .dot.last, .dotsRow:nth-child(odd) .dot.last {
    background-color: indianred;
}
.dotsRow:nth-child(even) .dot.win, .dotsRow:nth-child(odd) .dot.win {
    background-color: greenyellow;
}

#gameScore {
    background-color: white;
    box-shadow: 2px 2px 8px black;
    padding: 20px;
    max-width: 300px;
}
.scoreboard {
    min-width: 200px;
    margin-top: 10px;
}
.scoreboardPlayer div {
    display: inline-block;
}
.scoreboardPlayerNotActive {
    width: 40px;
    height: 40px;
    padding: 10px;
}
.scoreboardPlayerActive {
    background-color: indianred;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}
.scoreboardPlayerName {
    margin-left: 10px;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    width: calc(100% - 70px);
    vertical-align: middle;
}
.scoreboardSeparator {
    display: inline-block;
    width: calc(50% - 30px);
    vertical-align: 10px;
    height: 4px;
    background-color: black;
}
.scoreboardSeparatorText {
    display: inline-block;
    width: 50px;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
.scoreboardPlayerWhite, .scoreboardPlayerBlack {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px #959595;
    vertical-align: middle;
}
.scoreboardPlayerBlack {
    background-color: black;
    box-shadow: 2px 2px 4px #959595;
}
.scoreboardPlayerWhite {
    background-color: white;
    box-shadow: 2px 2px 4px darkslategrey;
}
.winnerTrophy:after {
    content: '\01F3C6';
    font-size: 24px;
}
.loserTrophy:after {
    content: '\0274C';
    font-size: 24px;
}
.drawTrophy:after {
    content: '\1F3F3';
    font-size: 24px;
}

/**** TOGGLE ********/
.toggleButton {
    margin-top: 10px;
    margin-bottom: 10px;
}
.toggleButtonLabel {
    font-size: 20px;
    vertical-align: 10px;
    margin-left: 10px;
}
.toggleButtonSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.toggleButtonSwitch input {display:none;} .toggleButtonSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.toggleButtonSlider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
.toggleButtonSlider.checked {
    background-color: #2196F3;
}
.toggleButtonSlider.checked:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/*********** PANEL *********/
.panel {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    padding: 20px;
    text-align: center;
}
.panel .error {
    color: red;
}
.panel .warn {
    color: yellowgreen;
}