body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: initial;
}

h2 {
  margin-bottom: 15px;
}

.alright {
  text-align: right;
}

.content {
  display: flex;
  padding: 50px;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.winnerTrophy:after {
  content: '\01F3C6';
  font-size: 24px;
}
.loserTrophy:after {
  content: '\0274C';
  font-size: 24px;
}
.drawTrophy:after {
  content: '\1F3F3';
  font-size: 24px;
}