.history_content {
  padding: 20px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  box-shadow: 2px 2px 8px black;
  max-width: 1000px;
}

.history_content .comp_game_lines {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.history_content .comp_game_lines div {
  height: 60px;
  line-height: 60px;
}