.home_box {
  width: 360px;
  background-color: white;
  box-shadow: 2px 2px 8px black;
  padding: 20px;
  margin-bottom: 20px;
}
.home_box_row {
  width: 100%;
}
.home_box_row div {
  display: inline-block;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.home_box_col {
  min-width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}
.home_box_col40 {
  width: 40px;
}
.home_box_col90 {
  width: 90px;
}
.home_box_col110 {
  width: 110px;
}
.home_box_col115 {
  width: 115px;
}
.home_box_col125 {
  width: 125px;
}
.home_box_col230 {
  width: 230px;
}
.home_box_col250 {
  width: 250px;
}

#gamesStats .home_box_row {
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  line-height: 36px;
}
#gamesStats .alright {
  font-size: 36px;
}
#gamesLaunched .home_box_row{
  vertical-align: middle;
}