.history_analyze_bar {
  text-align: center;
}
.history_analyze_bar .disableInput {
  padding: 5px 0 5px 0;
  width: 50px;
  height: 40px;
  margin-right: 5px;
  text-align: center;
  vertical-align: 6px;
}